{% extends 'basic.html' %}
{% load static %}
{% block content %}
      <div class="container">
        <h1 class="section-header">Ваша корзина</h1>
        <div >
        <form class="cart-wrapper" action="{% url 'new_order' %}" method="post">{% csrf_token%}
            <div class="cart-left">
                <div class="cart-items">
                 <main-cart-item
                                v-for="(item,index) in headerCartItems"
                                v-bind:item="item"
                                v-bind:key="item.id"
                                v-bind:index="index"
                                v-on:userdelete="remove"
                                v-on:del_qt="del_qt"
                                v-on:add_qt="add_qt"
                        ></main-cart-item>

                </div>

                <h3 class="section-header b-bottom ">Оформление заказа</h3>

                <div class="cart-grid b-bottom">
                    <div class="cart-grid-step"><p>1/3 данные</p></div>
                    <div class="cart-grid-form">
                        <input type="text" name="phone"  placeholder="Телефон" value="{% if request.user.phone %}{{ request.user.phone }}{% endif %}">
                        <input type="text" name="email" placeholder="Электронная почта" value="{{ request.user.email }}">
                        <input type="text" name="fio" placeholder="ФИО" value="{% if  request.user.fio %}{{ request.user.fio }}{% endif %}">
                    </div>
                </div>
                 <div class="cart-grid b-bottom">
                    <div class="cart-grid-step"><p>2/3 данные</p></div>
                    <div class="cart-grid-form">
                        <p class="mb-15">Выберите способ доставки</p>

                         <label @click="deliveryPrice=0,cdekSelected=false" class="cart-radio" for="d-2">
                            <input type="radio" name="delivery" checked id="d-2" value="Самовывоз">
                             <p class="cart-radio__p1">Самовывоз</p>
                            <p class="cart-radio__p2">бесплатно<br>по адресу 1234</p>
                             <span class="checkmark"></span>
                        </label>
                        <label @click="cdekSelected=true" class="cart-radio" for="d-1">
                            <input type="radio" name="delivery" id="d-1"  value="СДЕК">
                            <p class="cart-radio__p1">СДЕК</p>
                            <p class="cart-radio__p2">от 1 дня<br>100 ₽</p>
                            <span class="checkmark"></span>
                        </label>
                        <div v-if="cdekSelected">
                            <select id="city_select" class="mb-15" style="width: 100%" @change="handleCityChange" name="delivery_price" v-model="deliveryPrice">
                                <option value="0">Выберите город</option>
                                {% for city in cities %}
                                    <option value="{{ city.price }}" data-city="{{ city.name }}">{{ city.name }}</option>
                                {% endfor %}
                            </select>
                            <input ref="city_input" type="hidden" name="city" value="Самовывоз">
                             <input type="text" name="street" placeholder="Улица">
                        <div class="cart-grid-form__group">
                            <input type="text" name="num" placeholder="Дом">
                             <input type="text" name="num1" placeholder="Квартира/офис">
                        </div>
                        </div>

                    </div>
                </div>
                <div class="cart-grid b-bottom">
                    <div class="cart-grid-step"><p>3/3 оплата</p></div>
                    <div class="cart-grid-form">
                        <p class="mb-15">Выберите способ оплаты</p>
                        <label class="cart-radio" for="d-11">
                            <input type="radio" name="pay" id="d-11" value="Картой">
                            <p class="cart-radio__p1">Картой онлайн, Apple Pay, Google Pay</p>

                            <span class="checkmark"></span>
                        </label>
                         <label class="cart-radio" for="d-21">
                            <input type="radio" name="pay" id="d-21" value="Курьером">
                            <p class="cart-radio__p1">Курьером</p>

                             <span class="checkmark"></span>
                        </label>


                    </div>
                </div>
                <div class="cart-grid ">
                    <div class="cart-grid-step"><p>дополнительно</p></div>
                    <div class="cart-grid-form">
                        <textarea class="mb-15" name="comment" id="" cols="30" rows="10" placeholder="Комментарий курьеру"></textarea>



                    </div>
                </div>
            </div>
            <div class="cart-right">
                <div style="position: sticky;top: 20px"  class="cart-total">
                    <p class="cart-total__info">Доставка <span class="color-green">[[deliveryPrice]] ₽ </span></p>
                    <p class="cart-total__info">сумма заказа <span class="color-green">[[cartTotal]] ₽ </span></p>
                    <p v-if="parseInt(this.promo_rub)>0" class="cart-total__info">Промо код <span class="color-green">-[[promo_rub]] ₽ </span></p>
                    <p v-if="parseInt(this.promo_percent)>0" class="cart-total__info">Промо код <span class="color-green">-[[promo_percent]] % </span></p>
                    <p v-if="cartTotalwPromo===0" class="cart-total__summ">итого <span class="color-green">[[cartTotaldeliveryPrice]] ₽</span> </p>
                    <p v-else class="cart-total__summ">итого <span class="color-green">[[cartTotalwPromo + deliveryPrice]] ₽</span> </p>



                       <p v-if="cartTotalwPromo===0" class="cart-total__promo ">
                           <input v-model="promo"  type="text" placeholder="Промокод (если есть)">
                           <span @click="applyPromo" class="color-green">АКТИВИРОВАТЬ</span>
                       </p>


                    <button type="submit" class="btn">оформить заказ</button>
                    <p class="cart-total__text">Нажимая на кнопку «оплатить заказ», я принимаю условия <a href="">публичной оферты</a> и <a
                            href="">политики конфиденциальности</a></p>
                </div>
                <p class="cart-total__link hide-mob-600"><a href="{% url 'delivery' %}">условия доставки и оплаты</a></p>
            </div>
        </form>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
    function setCity(){
        console.log('id')
    }
    </script>
{% endblock %}