{% extends 'basic.html' %}
{% load static %}
{% block content %}
      <section class="categories">
        <div class="container">
            <div class="categories-wrapper">

                <div @click="this.window.location.href='{% url 'category' 'man' %}'" class="categories-item item1">
                    <p class="categories-item__text man">МУЖЧИНАМ</p>
                </div>

                <div @click="this.window.location.href='{% url 'category' 'woman' %}'" class="categories-item item2">
                    <p class="categories-item__text woman">ЖЕНЩИНАМ</p>
                </div>
            </div>

        </div>
    </section>
    <section>
        <div class="container simple-image">

        </div>
    </section>
    <section class="collection">
        <div class="container">
            <h3 class="section-header">
                НОВАЯ ЖЕНСКАЯ КОЛЛЕКЦИЯ
            </h3>
            <p class="section-header__link"><a href="{% url 'category' 'woman' %}">Смотреть полностью</a></p>
            <div class="collection-wrapper">
                {% for itemtype in woman_collection %}
                <div class="collection-item">
                    <p class="collection-item-name">{{ itemtype.item.collection.subcategory.name }}</p>
                    <div class="collection-item__img" >
                          <a href="{% url 'item' itemtype.item.collection.subcategory.category.name_slug itemtype.item.collection.subcategory.name_slug itemtype.item.name_slug %}">
                           <img src="{{ itemtype.item.images.first.image.url }}" alt="">
                        </a>

                    </div>
                    <p class="collection-item__name">{{ itemtype.item.name }}</p>
                    <p class="collection-item__price">{{ itemtype.item.price }} ₽</p>
                </div>
                {% endfor %}


            </div>
        </div>
    </section>
    <section class="collection">
        <div class="container">
            <h3 class="section-header">
                НОВАЯ МУЖСКАЯ КОЛЛЕКЦИЯ
            </h3>
            <p class="section-header__link"><a href="{% url 'category' 'man' %}">Смотреть полностью</a></p>
            <div class="collection-wrapper">
             {% for itemtype in man_collection %}
                <div class="collection-item">
                    <p class="collection-item-name">{{ itemtype.item.collection.subcategory.name }}</p>
                    <div class="collection-item__img" >
                        <a href="{% url 'item' itemtype.item.collection.subcategory.category.name_slug itemtype.item.collection.subcategory.name_slug itemtype.item.name_slug %}">
                           <img src="{{ itemtype.item.images.first.image.url }}" alt="">
                        </a>

                    </div>
                    <p class="collection-item__name">{{ itemtype.item.name }}</p>
                    <p class="collection-item__price">{{ itemtype.item.price }} ₽</p>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <section class="about">
        <div class="container">
            <div class="about-wrapper">
                <div class="about-img">
                    <img src="{% static 'images/index-about.png' %}" alt="">
                </div>

                <div class="about-text">
                    <h3 class="section-header">ИНТЕРНЕТ-МАГАЗИН ОДЕЖДЫ ДЛЯ СОВРЕМЕННЫХ ВРАЧЕЙ</h3>
                    <p class="text">DOC’S — это опыт врачей и хороший вкус дизайнеров: вместе мы делаем стильную и комфортную
                        медицинскую одежду. Мы придумываем лаконичные и удобные модели,
                        которые выглядят эстетично и не мешают в процессе работы.
                    </p>
                    <a class="link" href="#">Узнать больше</a>

                </div>
            </div>
        </div>
    </section>
    <section class="social">
        <div class="container">
            <div class="social-top">
                <h3 class="text text-300 text-center text-upper">подписывайтесь на наш инстаграм</h3>
                <p class="text-center"><a href="#" class="text text-f-80">@docsuniform</a></p>
            </div>
            <div class="social-wrapper">
                <div class="social-item">
                    <img src="{% static 'images/social-item1.png' %}" alt="">
                </div>
                <div class="social-item">
                    <img src="{% static 'images/social-item2.png' %}" alt="">
                </div>
                <div class="social-item">
                    <img src="{% static 'images/social-item3.png' %}" alt="">
                    <p class="text hide-mob-600">МЕДИЦИНСКАЯ ОДЕЖДА DOC’S workwear for life</p>
                    <a class="link hide-mob-600" href="#">подписаться</a>
                </div>
                <div class="social-item">
                    <img src="{% static 'images/social-item4.png' %}" alt="">
                </div>
            </div>
        </div>

    </section>
{% endblock %}
