{% extends 'basic.html' %}
{% load static %}
{% block content %}
      <div class="container">
        <div class="login-form">
            <h1 class="login-form__title">Регистрация</h1>
            <form action="{% url 'signup' %}" method="post">{% csrf_token %}

                <input type="email" required name="email" placeholder="Введите почту">
                <input type="password" required name="password1" placeholder="Пароль">
                <input type="password" required name="password2" placeholder="Повторите пароль">
                <p style="font-size: 13px; margin-bottom: 20px">Пароль должен состоять не менее чем из 8ми символов и содержать как минимум одну букву</p>
                <button type="submit" class="btn">Зарегистрироваться</button>
            </form>
            <p style="margin-top: 20px;color: red">{{ error }}</p>

        </div>
    </div>
{% endblock %}
