{% extends 'basic.html' %}
{% load static %}
{% block content %}
 <div class="container">
        <p class="back-link"><svg width="27" height="15" viewBox="0 0 27 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M27 7.5H1M1 7.5L7.5 1M1 7.5L7.5 14" stroke="#519999"/>
        </svg>
            <a class="link" href="{{request.META.HTTP_REFERER|escape}}">НАЗАД</a>
        </p>
    </div>
    <div class="marquee js-marquee">
        <div class="marquee-wrapper js-marquee-wrapper" reverse>
            <p><span>&#10072;</span>{{ slider_text }}</p>
        </div>
    </div>
    {% for collection in collections %}
     <section class="collection">
        <div class="container">
        <p style="font-size: 14px;letter-spacing: 0.1em;text-transform: uppercase;opacity: .5;margin-bottom: 15px">{{ collection.description }}</p>
            <h3 class="section-header">
                {{ collection.name }}
            </h3>

            <div style="flex-wrap: wrap" class="collection-wrapper">
                {% for collection_item in collection.items.all %}
                <div style="margin-bottom: 20px" class="collection-item">
                    <p class="collection-item-name">{{ collection.subcategory.name}}</p>
                    <div class="collection-item__img" >
                        <a href="{% url 'item' collection.subcategory.category.name_slug collection.subcategory.name_slug collection_item.name_slug %}">
                           <img src="{{  collection_item.images.first.image.url }}" alt="">
                        </a>

                    </div>
                    <p class="collection-item__name">{{ collection_item.name }}</p>
                    <p class="collection-item__price">{{ collection_item.price }} ₽</p>
                </div>
                {% endfor %}


            </div>
        </div>
    </section>
    {% endfor %}
{% endblock %}
