.categories-item{
    cursor: pointer;
}

.cart-total__promo{
    cursor: pointer;
}
.cart-total__promo input{
    padding: 10px;
    margin-bottom: 0;
    margin-right: 10px;
    font-size: 10px
}
.item-price-w-discount{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.item-info__price.new_price{
    color: #E74343;
     margin-right: 20px;
}
.item-info__price.old-price{

    color: #519999;
    opacity: 0.5;
    font-size: 18px;
    font-weight: bold;
    text-decoration: line-through;
}

table {
   border: 1px solid grey;
    width: 100%;
}
/* границы ячеек первого ряда таблицы */
th {
   border: 1px solid grey;
    text-align: center;
    padding: 10px 0;
}
/* границы ячеек тела таблицы */
td {
   border: 1px solid grey;
    text-align: center;
}
