{% load static %}
<!DOCTYPE html>
<!-- SKIBORG WAS HERE -->
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
     <link rel="stylesheet" href="{% static 'css/main.css' %}">
     <link rel="stylesheet" href="{% static 'css/add.css' %}">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css">
 <link rel="shortcut icon" href="{% static 'images/fav.png' %}" type="image/x-icon">

</head>
<body>
<div id="app">
<form id="dummy_form" class="not-visible">{% csrf_token %}</form>
{% include 'header.html' %}
{% block content %}
 {{ used_promo }}
{% endblock %}

{% include 'footer.html' %}

</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
    function getCart() {
        let csrfmiddlewaretoken = document.getElementsByName('csrfmiddlewaretoken')[0].value
            let body = {}
            fetch(`/cart/get_cart/`, {
                method: 'post',
                body: JSON.stringify(body),
                headers: { "X-CSRFToken": csrfmiddlewaretoken },
                credentials: 'same-origin'
            }).then(res=>res.json())
                .then(res => {
                    if (res){
                            console.log(res)
                       app.headerCartItems=[]
                    for (let x of res){

                           console.log(x)
                        app.headerCartItems.push(x)
                        app.promo_percent = '{{ promo_percent }}'
                        app.promo_rub = '{{ promo_rub }}'
                        }
                        console.log(app.headerCartItems)
                    }
                })
    }
    getCart()


</script>
{% block js %}


<script>

    var marquee = { elements: {} }, globals = {}, requiredReps = 0;

    marquee.init = function() {
        Object.keys(marquee.elements).forEach(function(key) {

            var textEl = marquee.elements[key].getElementsByTagName('p')[0];
            var parentEl = 	textEl.parentNode;
            var requiredReps = (textEl.clientWidth > globals.width ? 2 : ( Math.ceil( globals.width / textEl.clientWidth ) + 1));

            for (i = 0; i < requiredReps; i++) {
                var dupEl = textEl.cloneNode(true);
                parentEl.appendChild(dupEl);
            }

            marquee.animate(marquee.elements[key]);
        });
    }

    marquee.setup = function(cb){
        globals.width = document.documentElement.clientWidth;

        marquee.elements = document.getElementsByClassName('js-marquee');

        if(cb !== undefined && typeof cb === 'function') {
            cb();
        }
    }

    marquee.animate = function(row) {
        var progress = 0;
        var wrapper = row.getElementsByClassName('js-marquee-wrapper')[0];
        var speed = wrapper.getAttribute('reverse') !== null ? -1 : 1;

        var start = null;

        function step(timestamp) {

            progress	= progress + 1 * speed;

            if(progress ===  globals.width * speed) {
                progress = 0;
            }

            wrapper.style.transform = 'translate('+ progress +'px, 0px) translateZ(0px)';

            window.requestAnimationFrame(step);
        }

        window.requestAnimationFrame(step);
    };


    marquee.setup(marquee.init);
</script>
{% endblock %}
</body>

</html>
